
* {
    box-sizing: border-box;
}
/* styles the body of the page */
body {
    margin: 0;
}
/* sytles the header */
header {
    background-color: rgb(213, 212, 198);
    text-align: center;
    padding: 5px;
}

/* styles the city name */
h1 {
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 15px;
    }
    /*styling for the weather data */
p {
    font-size: 1.5rem;
    margin: 5px, 0px;
}
/*styles the card that holds the weather data */
.card {
    background: linear-gradient(180deg, rgb(112, 170, 229), rgb(235, 181, 80) );
    padding: 50px;
    box-shadow: 2px 2px 5px hsla (black)
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    bord
}
/* styles the entire search section */
.weatherform {
    margin: 20px;
    float: left;
    }
/* styling the text input box */
.cityInput {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid hsla(0,0%, 20%, 0.3);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    text-transform: capitalize;
}
/* styles the get weather button */
button[type = "submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgb(183, 157, 227);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* slightly chages the color of the button upon hovering */
button[type="submit"]:hover {
    background-color: rgb(168, 239, 168);
}
/* sets all of the text to bold for the all of the weather data, except the emoji */
.tempDisplay, .humidityDisplay, .descriptionDisplay, .errorDisplay {
    font-weight: bold;
    margin: 0

}
/*updates the margin and size of the emoji */
.emojiDisplay {
    font-size: 6rem;
    margin: 0;
   }
button-container {
    font-size: 2rem;

}
aside {
    width: 20%;
    float: left;
    padding: 10px;
}
section {
    width: 40%;
    float: left;
    padding: 5px;
    
}
